/.*
.*
*.html
!.gitignore
/compile_commands.json
/test.idx
/MBPM_BuildFiles/
/MBPM_Builds
/MBPM_FileInfo
/clangd.dex
/out/
/MBPM_FileInfo


/README_Temp.md
/Test.mbd
/OutHTTPTemp
/HTMLOut
/TempOut
/ExecuteTests.sh
/Test.html
/Test/Media
/CMake*
/CppProperties.json
/makefile
/Test
/Docs/Code
/Input.json
/Output.json
/Temp*
