/.*
.*
*.html
!.gitignore
/compile_commands.json
/test.idx
/MBPM_BuildFiles/
/MBPM_Builds
/MBPM_FileInfo
/clangd.dex
/out/
/README.md
/MBPM_FileInfo


/README_Temp.md
/Test.mbd
/OutHTTPTemp
/HTMLOut
/TempOut
/ExecuteTests.sh